* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.pelicula-principal {
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, 0.651) 0%, rgba(0, 0, 0, .50) 100%);
	margin-top: 30px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.cont_imagen {
	flex: 0 0 auto;
	width: 50%;
	margin-right: -100px;
}

.imagen{
	height: auto;
	margin-left: 200px;
	width: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.detalles{
	flex: 0 0 auto;
	width: 50%;
}

.boton_trailer{
	text-align: right;
	margin-top: 20px;
}

.boton{
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
	text-decoration: none;
	border-radius: 0.25rem;
	padding: 0.375rem;
	font-size: 1rem;
	border: 1px solid transparent;
	display: inline-block;
}

.titulo{
	font-size: 70px;
	color: #9f2934;
	margin-bottom: 7px;
}

.atributos{
	margin-bottom: 15px;
	font-size: 17px;
}

.titulos{
	color: #9f2934;
	font-size: 20px;
	margin-bottom: 5px;
}

.descripciones{
	font-size: 20px;
	margin-bottom: 8px;
}

.comprar{
	text-align: end;
	margin-top: 15px;
	margin-bottom: 10px;
}

.boton_comprar{
	color: #fff;
	background-color: #15a421;
	border-color: #15a421;
	text-decoration: none;
	border-radius: 0.25rem;
	padding: 15px;
	font-size: 15px;
	border: 1px solid transparent;
	display: inline-block;
}

@media screen and (max-width:858px) {
	.titulo{
		margin-top: 110px;
	}
	.imagen{
		height: 215px;
		width: 220px;
		margin-left: 40px;
	}
	.cont_imagen{
		margin-right: -170px;
	}
	.boton_trailer{
		margin-right: -130px;
	}
	.comprar{
		margin-right: -115px;
	}
	.descripciones{
		margin-right: -140px;
	}
}